waterbillingdev.saharasoftsolutions.com {
    reverse_proxy analogwater_app_backend_dev:3332 
    @websockets {
		header Connection *Upgrade*
		header Upgrade    websocket
	}
    reverse_proxy @websockets analogwater_app_backend_dev:3332
}

waterbillingprod.saharasoftsolutions.com {
   
    reverse_proxy analogwater_app_backend_prod:3335 
    @websockets {
		header Connection *Upgrade*
		header Upgrade    websocket
	}
    reverse_proxy @websockets analogwater_app_backend_prod:3335
}

portainer.saharasoftsolutions.com {
	reverse_proxy frontend:3000
}